:root {
  --clr-accent-400: hsl(12, 88%, 59%);
  --clr-accent-100: hsl(13, 100%, 96%);

  --clr-primary-400: hsl(228, 39%, 23%);

  --clr-neutral-100: hsl(232, 12%, 13%);
  --clr-neutral-900: hsl(0, 0%, 0%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  /* makes everything 10px...1rem = 10px */
  font-size: 62.5%;
}

section {
  margin-bottom: 13rem;
  font-size: 2rem;
  overflow: hidden;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  margin-bottom: 2rem;
}

.logo {
  max-height: 1.8rem;
}

.section {
  text-align: center;
}

.intro {
  max-width: 90%;
}

.header-intro {
  font-weight: 700;
  font-size: 3.5rem;
  letter-spacing: 1px;
  line-height: 1.2;
  color: var(--clr-primary-400);
  margin-bottom: 0.3rem;
}

.header-info {
  font-weight: 100;
  padding: 0 30px;
  color: hsla(0, 0%, 50%, 0.446);
  font-size: 1.4rem;
  letter-spacing: 1px;
  line-height: 2;
  margin-bottom: 3rem;
}

.btn {
  border: none;
  padding: 1rem 2rem;
  width: 13rem;
  font-size: 1.2rem;
  border-radius: 2rem;
  box-shadow: 0px 5px 10px var(--clr-accent-400);
  margin-bottom: 2rem;
}
.start-btn {
  background-color: var(--clr-accent-400);
  color: white;
}

/* .orange-big {
  overflow: hidden;
  position: absolute;
  height: 220px;
  width: 500px;
  background-color: hsla(12, 84%, 57%, 0.179);
  border-top-left-radius: 10rem;
  border-bottom-left-radius: 10rem;

  transform: rotate(-45deg) translate(12%, -15%);
  z-index: -1;
} */

.inform-intro {
  color: var(--clr-primary-400);
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
  text-align: center;
}

.inform-info {
  font-weight: 100;
  color: hsla(0, 0%, 50%, 0.446);
  font-size: 1.4rem;
  letter-spacing: 1px;
  line-height: 2;
  padding: 0px 20px;
  text-align: center;
  margin-bottom: 4rem;
}

.detail-header {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.6rem;
  background-color: hsla(12, 84%, 57%, 0.179);
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: 20px;
  width: 100%;
}

.details li:nth-child(1),
.details li:nth-child(2) {
  margin-bottom: 5rem;
}
.number {
  background-color: var(--clr-accent-400);
  padding: 0.5rem 3rem;
  color: var(--clr-accent-100);
  border-radius: 20px;
}

.detail {
  color: var(--clr-primary-400);
  font-weight: 700;
  margin-left: 1rem;
  width: 100%;
  font-size: 1.5rem;
}

.description {
  margin: 0 0.8rem 0 2rem;
  font-size: 1.4rem;
  line-height: 2;
  color: hsla(0, 0%, 50%, 0.446);
}

.testimonials {
  font-size: 4rem;
  text-align: center;
}

/* TESTIMONIAL SECTION */

.customer {
  min-width: 250px;
  margin-bottom: 2rem;
  padding: 10px;
}

.customer:last-child {
  margin-bottom: 0;
}

.customer img {
  max-height: 10rem;
}

.customer .name {
  color: var(--clr-primary-400);
  font-size: 1.5rem;
  margin: 1rem 0 1.6rem 0;
}

.customer .tst {
  font-size: 1.5rem;
  color: hsla(0, 0%, 50%, 0.446);
  width: 300px;
  margin: 0 auto;
}

/* CTA section */
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--clr-accent-400);
  text-align: center;
  padding: 0px 20px;
  height: 300px;
  margin-bottom: 0;
}

.cta p {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.5;
  color: var(--clr-accent-100);
  margin-bottom: 2rem;
}
.cta-btn {
  background-color: var(--clr-accent-100);
  text-align: center;
  color: var(--clr-accent-400);
  box-shadow: none;
}

/* footer section */
footer {
  padding: 20px 0px;
  background-color: var(--clr-neutral-100);
  margin-bottom: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.updates {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link-list {
  font-size: 2.5rem;
  color: var(--clr-accent-100);
  font-weight: lighter;
  display: flex;

  width: 25rem;
  text-align: left;
  justify-content: space-between;
}

.link {
  list-style: none;
  font-weight: 100;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.go-btn {
  border: none;
  height: 2rem;
  color: var(--clr-accent-100);
  background-color: var(--clr-accent-400);
  width: 4rem;
  font-size: 1rem;
  border-radius: 2rem;
}
.email {
  width: 15rem;
  border-radius: 20px;
  border: none;
  height: 2rem;
  color: var(--clr-primary-400);
  font-size: 0.8rem;
  padding: 1.2rem 1rem;
  font-weight: 100;
}

.icons {
  display: flex;
  gap: 10px;
}
